.app__header-hero {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow:hidden;
  width:250px;
  height:250px;
  gap:10px;
  border-radius: 50%;
  transition: all 0.5s ease-in;


  @media screen and (max-width: 400px){
    width:200px;
    height:200px;
  }

  .hero-logo{
    transition: all 0.4s ease-out;
    min-width:250px;
    height:310px;
    border-radius: 50%;
    text-align: center;

    @media screen and (max-width: 400px){
        min-width:200px;
        height:269px;
    }

    img{
        width: 170px;
        height:228px;

        @media screen and (max-width: 400px){
            width:161px;
            height:200px;
        }
    }
    
    // @media screen and (max-width: 400px){
    //     //padding-top: 300px;
    //     width:161px;
    //     height:200px;
    // }
  }

  .hero-headshot{
    transition: all 0.4s ease-out;
    height:250px;
    width:250px;
    border-radius: 50%;

    @media screen and (max-width: 400px){
        width:200px;
        height:200px;
    }

    img{
        width:250px;
        height:250px;
        border-radius: 50%;

        @media screen and (max-width: 400px){
            width:200px;
            height:200px;
        }
    }
    
  }
  
  .translated {
    transform: translateX(-105%);
  }

}

.translated{
    box-shadow: 0px 0px 10px rgba(220, 220, 220, 0.5);
  }