div{
    color:white;
    display:flex;
    flex-direction: column;
    gap:30px;
    form{
        
        display: flex;
        width:300px;
        flex-direction: column;
        gap:10px;
    }
   
}